<div class="jumbotron">
	<h1> <center>Welcome to my Appliation </center> </h1>
	<p><center> <font size="16">Click here to </font> </center> </p>
	<p> <center> <%= link_to "Sign Up", "#", class: "btn btn-default btn-lg" %> <%= link_to "Log In", "#", class: "btn btn-primary btn-lg" %> </center> </p>

</div>


